
.about-text{
  flex: 1;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;

}

.about-text h1{
  margin-bottom: 15px;
  font-size: 60px;
}

.about-text p{
  margin-bottom: 20px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 18px;
}
