.app-background{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.home-text{
  flex: 1;
  text-align: left;
}

.home-text h1.home-title{
  margin-bottom: 15px;
  color: #f99d9d;
  font-size: 60px; 
  line-height: 0.9; 
  text-align: left;
  margin-bottom: 60px;
}

.home-text p{
  margin-bottom: 20px;
  font-size: 18px;
  text-align: left;
}


.home-button{
  padding: 12px 30px;
  border: none;
  background: #e69494;
  color: white;
  font-size: 22px;
  border-radius: 60px;
  cursor: pointer;
}

.home-button:hover{
  background: #e63946;
}

.home-image{
  width: 700px;
  border-radius: 12px;
}

.home-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 10%;
  gap: 10px;
}