@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

.app-container{
  min-height: 100vh;
  width:100%;
  display: flex;
  flex-direction: column;
}

.app-background{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffadad;
  padding: 60px;
}

/* Yellow box */
.home-box{
  background: #fde6e6;
  width: 97%;
  max-width: 2000px;
  padding: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}

.home-text{
  flex: 1;
}

.home-text h1{
  margin-bottom: 15px;
  font-size: 36px;
}

.home-text p{
  margin-bottom: 20px;
  font-size: 18px;
}

.home-button{
  padding: 12px 24px;
  border: none;
  background: #ff6b6b;
  color: white;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
}

.home-button:hover{
  background: #e63946;
}

.home-image{
  width: 300px;
  border-radius: 12px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* NAVBAR */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  padding: 20px 60px;
  background: white;
  color: pink;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin: 0;
  font-family: 'Great Vibes', cursive;
  font-size: 32px;
  color: #ffadad;
}

.nav-links a {
  color: pink;
  text-decoration: none;
  margin-left: 25px;
  font-weight: bold;
}

.nav-links a:hover {
  color: hotpink;
}

/* PAGE */
.page {
  flex: 1;
  width: 100%;
  padding: 24px;
  background: #ffadad
}

.logo-wrap{
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-img{
  width: 40px;
  height: 40px;
  object-fit: contain;
}

.logo{
  font-family: "Brush Script MT", cursive;
  font-size: 28px;
  color: #f4a6a6;
}

